<header class="masthead" id="searchMasthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">System Usage Report</h1>
      <hr>
      <br>
      <div *ngIf="!dataReady">
        <div style="float: none; margin: 0 auto;" class="loader"></div>
        <!--
        <img src="assets/ii_logo_color.png" class="loadingImage"/>
        -->
      </div>
      <div *ngIf="dataReady">
        <h3>Disk Usage</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 500px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Free Space</th>
                <th>Used Space</th>
                <th>Total Space</th>
                <th>Disk Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{diskStats.free/(1024*1024)}} MB</td>
                <td>{{diskStats.used/(1024*1024)}} MB</td>
                <td>{{diskStats.total/(1024*1024)}} MB</td>
                <td>{{diskStats.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <br><br>
        <h3>Processing Photos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Unfiltered Photo ID</th>
                <th>Filter ID</th>
                <th>User ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let photo of processingPhotos">
                <td>{{photo.unfiltered_photo_id}}</td>
                <td>{{photo.filter_id}}</td>
                <td>{{photo.user_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <h3>Processing Videos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Unfiltered Video ID</th>
                <th>Filter ID</th>
                <th>User ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let video of processingVideos">
                <td>{{video.unfiltered_video_id}}</td>
                <td>{{video.filter_id}}</td>
                <td>{{video.user_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <h3>Past Uploads Count</h3>
        <button class="btn btn-small graphbtn" (click)="this.displayDayUploads();">Past Day</button>
        <button class="btn btn-small graphbtn" (click)="this.displayWeekUploads();">Past Week</button>
        <button class="btn btn-small graphbtn" (click)="this.displayMonthUploads();">Past Month</button>
        <br><br>
        <div style="display: block;">
          <canvas id="graph"
            baseChart
            [chartType]="'line'"
            [datasets]="chartDataUploads"
            [labels]="chartLabelsUploads"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors"
            (chartClick)="onChartClick($event)">
        </canvas>
        </div>
        <br><br>
        <h3>Past Requests Count</h3>
        <button class="btn btn-small graphbtn" (click)="this.displayDayReqs();">Past Day</button>
        <button class="btn btn-small graphbtn" (click)="this.displayWeekReqs();">Past Week</button>
        <button class="btn btn-small graphbtn" (click)="this.displayMonthReqs();">Past Month</button>
        <br><br>
        <div style="display: block;">
          <canvas id="graph"
            baseChart
            [chartType]="'line'"
            [datasets]="chartDataReqs"
            [labels]="chartLabelsReqs"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors"
            (chartClick)="onChartClick($event)">
        </canvas>
        </div>
        <br><br>
        <h3>Reported Photos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Video ID</th>
                <th>User ID</th>
                <th>Creation Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let photo of flaggedPhotos">
                <td>{{photo.photo_id}}</td>
                <td>{{photo.user_id}}</td>
                <td>{{photo.creation_date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <h3>Reported Videos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Video ID</th>
                <th>User ID</th>
                <th>Creation Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let video of flaggedVideos">
                <td>{{video.video_id}}</td>
                <td>{{video.user_id}}</td>
                <td>{{video.creation_date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>
