<header class="masthead" id="searchMasthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">System Usage Report</h1>
      <hr>
      <br>
      <div *ngIf="dataReady">
        <!--Table results go here-->
        <!-- <div class="table-responsive" style="overflow: auto; max-height: 200px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Stat Type</th>
                <th>User ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of stats">
                <td>{{stat.timestamp}}</td>
                <td>{{stat.stat_name}}</td>
                <td>{{stat.user_id}}</td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <br>
        <h3>Disk Usage</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 500px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Free Space</th>
                <th>Used Space</th>
                <th>Total Space</th>
                <th>Disk Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{diskStats.free/(1024*1024)}} MB</td>
                <td>{{diskStats.used/(1024*1024)}} MB</td>
                <td>{{diskStats.total/(1024*1024)}} MB</td>
                <td>{{diskStats.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <br><br>
        <h3>Processing Photos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Unfiltered Photo ID</th>
                <th>Filter ID</th>
                <!-- <th>Wait Time</th> -->
                <th>User ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{processingPhotos.unfiltered_photo_id}}</td>
                <td>{{processingPhotos.filter_id}}</td>
                <!-- <td>{{processingPhotos.wait_time}}</td> -->
                <td>{{processingPhotos.user_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <h3>Processing Videos</h3>
        <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Unfiltered Video ID</th>
                <th>Filter ID</th>
                <!-- <th>Wait Time</th> -->
                <th>User ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{processingVideos.unfiltered_video_id}}</td>
                <td>{{processingVideos.filter_id}}</td>
                <!-- <td>{{processingPhotos.wait_time}}</td> -->
                <td>{{processingVideos.user_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <h3>Past Uploads Count</h3>
        <button class="btn btn-small graphbtn" (click)="this.displayDayUploads();">Past Day</button>
        <button class="btn btn-small graphbtn" (click)="this.displayWeekUploads();">Past Week</button>
        <button class="btn btn-small graphbtn" (click)="this.displayMonthUploads();">Past Month</button>
        <br><br>
        <div style="display: block;">
          <canvas id="graph"
            baseChart
            [chartType]="'line'"
            [datasets]="chartDataUploads"
            [labels]="chartLabelsUploads"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors"
            (chartClick)="onChartClick($event)">
        </canvas>
        </div>
        <br><br>
        <h3>Past Requests Count</h3>
        <button class="btn btn-small graphbtn" (click)="this.displayDayReqs();">Past Day</button>
        <button class="btn btn-small graphbtn" (click)="this.displayWeekReqs();">Past Week</button>
        <button class="btn btn-small graphbtn" (click)="this.displayMonthReqs();">Past Month</button>
        <br><br>
        <div style="display: block;">
          <canvas id="graph"
            baseChart
            [chartType]="'line'"
            [datasets]="chartDataReqs"
            [labels]="chartLabelsReqs"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors"
            (chartClick)="onChartClick($event)">
        </canvas>
        </div>
        <!-- <div class="table-responsive" style="overflow: auto; max-height: 300px;">
          <table style="float: none; margin: 0 auto;" id="statsTable" class="table-striped" height=4>
            <thead>
              <tr>
                <th>Past Day:</th>
                <th>Past Week:</th>
                <th>Past Month:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</header>
  

<!-- <div class = "wrapper">
<div class="container-fluid">
	<div class="center-text">
		<div class="page-header">
			<h1 class="display-2">System Usage Report</h1>
		</div>
		<hr>
  <br>
    <div style="overflow-x:auto;">
        <table style="margin:0 auto;">
          <tr>
            <th>Date&Time</th>
            <th>Disk Avail</th>
            <th>Upload Count</th>
            <th>Request Count</th>
            <th>Processing Time</th>
          </tr>
          <tr>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
          </tr>
          <tr>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
          </tr>
          <tr>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
          </tr>
          <tr>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
            <td>EXZ</td>
          </tr>
        </table>
      <br> 
    </div>

</div>
</div> -->