#upload-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: hidden;
}
#card-deck {
  min-height: 300px;
  max-height: 300px;
}
#style-img {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: hidden;
}