/*
Imago Imaginis 
----------------------------
CSS for the system stats page
*/
th, td {
    text-align: left;
    padding: 8px;
}

tr {
    font-size: 11pt;
}

th {
    background-color: cornflowerblue;
    color: white;
}

#statsTable {
    background-color: rgba(135,206,250,.6);
    color: white;
}

#graph {
    background-color: rgba(122, 206, 245, .8);
    border-radius: 5px;
    color: lightblue;
}

.graphbtn {
    background-color: lightblue;
}


