/*
Imago Imaginis 
 * ----------------------------
CSS for the user profile page
*/
.library-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
}

.container-one {
    order:1;
    flex-basis:100%;
}

.container-two {
    order:2;
    flex-basis:100%;
}

.container-three {
    order:3;
    flex-basis:100%;
}

.container-four {
    order:4;
    flex-basis:100%;
}

.image {
	padding: 5px 5px 5px 5px; 
    max-width: 250px;
    cursor: pointer;
}

@media screen and (min-width:1000px) {
    .library-container {
        flex-wrap:nowrap;
    }
}

#modal-img {
    max-width: 100%;
    max-height: 100%;
}

#video {
    margin: auto;
    border: 5px solid skyblue;
    border-radius: 5px;
    background: skyblue;
}

#report {
    max-width: 256px;
    max-height: 256px;
}

#favimg {
    background-color: rgba(177, 208, 238,.7);
    padding: 5px;
    border: 5px transparent;
    border-radius: 10px;
}

p {
    /* line-height: 5px; */
    /* text-align: left; */
    /* text-justify: auto; */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;      
    /*white-space: pre-wrap;     /* CSS3 */   
    /*white-space: -moz-pre-wrap; /* Firefox */    
    /*white-space: -pre-wrap;     /* Opera <7 */   
    /*white-space: -o-pre-wrap;     /* IE */
}

#bginfo {
    margin: auto;
    background-color: rgba(177,208,238,.3);
    border: 5px transparent;
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    min-width: 200px;
}

#bginfo p {
    max-width: 100%;
}