// File containing deployment specific configuration info

var config = {};

config.thPath = '';
config.stylizerPath = '';
config.gpu = -1;
config.contentSize = 32;
config.styleSize = 32;

config.dbUrl = '';
config.stylePath = '';
config.outputPath = '';
config.contentPath = '';
config.outputPathVideo = '';
config.contentPathVideo = '';

module.exports = config;
