<!-- This is the main component of the web application.
This component is for the top section of the web application (e.g. the header).
Since this part stays mostly constant in site navigation, we want to keep this persistent across
different components. Therefore, we have a router outlet at the end which will display different
components, such as the home page and the profile page, while keeping the top header/app component. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a> <!-- Two-way data binding -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-profile" routerLinkActive="active">Profile</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<header class="masthead">
  <div class="overlay">
    <div class="container">
      <h1 class="display-2 text-white">&nbsp;</h1>
    </div>
  </div>
</header> 
<!-- Here different components are displayed based on the current routed component -->
<router-outlet></router-outlet>