/**
* This is the Cascasding Style Sheets for the web application
*/

/* This affects the styling of the top navbar */
nav{
  width: 100%;
}
/* This affects the styling of the header */
header.masthead{
  background: url("../assets/starrynight.jpg") no-repeat center scroll;
  background-size: cover;
  height: 20%;
}

label{
  margin-right: 30%;
}

.center{
  margin-left: 50%;
  margin-right: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}