<!-- Imagino Imaginis
Angular HTML template for the home page
Displays general information about the site and a button to direct them to either the upload page or the login page
Please refer to the official Angular documentation for more information on Angular templating -->
  <header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
    <div *ngIf="this.user.justLoggedIn" class="alert alert-primary alert-dismissible fade show" style="height:50px;" role="alert">
      <div style="float: left;">
        Welcome, {{this.user.firstName}}!
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 id="homeHeading">Artistic Stylizer Platform</h1>
    <hr>
    <p>Here, we transform your images based on an art style of your choosing, to create something new and totally cool.</p>
    <label class="btn btn-primary btn-xl js-scroll-trigger" style="" (click)="this.btnClick();">Get Started</label>
    <br><br>
    <div class="card-deck" id="card-deck">
      <div class="card">
      <div class="card-block">
        <img [src]="this.keyboard" id="card-img">
      </div>
      Sign Up
      </div>
      <div class="card">
      <div class="card-block">
        <img [src]="this.upload" id="card-img">
      </div>
      Upload
      </div>
      <div class="card">
      <div class="card-block">
        <img [src]="this.style" id="card-img">
      </div>
      Style and Share!
      </div>
    </div>
    </div>
  </div>
</header>