<header class="masthead">
   <div class="header-content">
      <div class="header-content-inner">
         <h1 id="homeHeading">Library</h1>
         <hr>
         <p>There are the photos you have stylized:</p>
         <div id="divMain" class="library-container">
            <div class="container-one">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-two">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-three">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-four">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
         </div>
         <br><br>
         <div class="card-deck" id="card-deck">
            <div class="card">
               <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="card-block">
                  <!-- <h4 class="card-title">Create an Account</h4> -->
                  <img [src]="this.keyboard" id="card-img">
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
               </div>
               Sign Up
            </div>
            <div class="card">
               <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="card-block">
                  <!-- <h4 class="card-title">Upload</h4> -->
                  <img [src]="this.upload" id="card-img">
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
               </div>
               Upload
            </div>
            <div class="card">
               <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="card-block">
                  <!-- <h4 class="card-title">Style and Share!</h4> -->
                  <img [src]="this.style" id="card-img">
                  <!-- <p class="card-text" id="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
               </div>
               Style and Share!
            </div>
         </div>
      </div>
   </div>
</header>