<!-- Imagino Imaginis
Angular HTML template for the login page
Allows user to enter credentials, or allows them to create a new account
Please refer to the official Angular documentation for more information on Angular templating -->
<header class="masthead">
	<div class="header-content">
	<div class="header-content-inner">
		<h1 id="homeHeading">Login</h1>
		<hr>
		<p>Please enter your email and password<br><small>Don't have an account? <a routerLink="/register" routerLinkActive="active">Create account</a></small></p>
		<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-4">
				<form class="form-horizontal" role="form" data-toggle="validator" (keyup)="onKey($event)" (ngSubmit)="onSubmit()" #loginForm="ngForm">
					<div class="form-group">
						<label class="control-label" name="user-email">Email<font color="red">*</font></label>
						<input focusMe type="email" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required>
						<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
							Email is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-password">Password<font color="red">*</font></label>
						<input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required>
						<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
							Password is required
						</div>
					</div>
					<button type="submit" [disabled]="!loginForm.form.valid" class="button btn btn-primary btn-xl js-scroll-trigger center-block">Login</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<br><br>
	<div class="card-deck" id="card-deck">
		<div class="card">
			<div class="card-block">
			<img [src]="this.keyboard" id="card-img">
			</div>
			Sign Up
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.upload" id="card-img">
			</div>
			Upload
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.style" id="card-img">
			</div>
			Style and Share!
		</div>
	</div>
	<app-modal #modal>
		<div class="app-modal-header">
			<!--Error-->&nbsp;
		</div>
		<div class="app-modal-body">
			<strong>Login Information Not Found!</strong><br>
			<hr>
			Please try again.
		</div>
		<div class="app-modal-footer">
			<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
		</div>
	</app-modal>
	</div>
	</div>
</header>