<!-- Imagino Imaginis
Angular HTML template for the not found page.
Displays when the user tries to load a page that doesn't exist in the web application
Please refer to the official Angular documentation for more information on Angular templating -->
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
    <h1 id="homeHeading">404</h1>
    <hr>
    <p>Requested page could not be found</p>
    </div>
    <div style="float: none; margin: 0 auto;">
    <button type="button" class="button btn btn-primary btn-xl js-scroll-trigger center-block" (click)="this.returnHome();">Return Home</button>
    </div>
    <div style="height: 200px"></div>
  </div>
</header>