<!--This is the register component, which is displayed underneath the app component.
  Allows for the user to register for an account to the platform.
It is routed to when the user clicks on a router link-->
<header class="masthead" style="height:1300px;">
	<div class="header-content">
	<div class="header-content-inner">
		<h1 id="homeHeading">Register</h1>
		<hr>
		<p>Please enter your details below to register for an account</p>
		<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-4">
				<form class="form-horizontal" role="form" data-toggle="validator" (keyup)="onKey($event);">
					<div class="form-group">
						<label class="control-label" name="user-first-name">First Name</label>
						<input type="text" class="form-control" name="first-name" placeholder="First Name" [(ngModel)]="this.firstName">
					</div>
					<div class="form-group">
						<label class="control-label" name="user-last-name">Last Name</label>
						<input type="text" class="form-control" name="last-name" placeholder="Last Name" [(ngModel)]="this.lastName">
					</div>
					<div class="form-group">
						<label class="control-label" name="user-email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="this.email">
					</div>
					<div class="form-group">
						<label class="control-label" name="user-password">Password</label>
						<input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="this.password">
					</div>
					<div class="form-group">
						<label class="control-label" name="user-confirm-password">Confirm Password</label>
						<input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password" [(ngModel)]="this.confirmPassword">
					</div>
					<div class="form-group">
						<label class="control-label" name="user-age-gate">Over 18?</label>
						<input [(ngModel)]="age" type="checkbox" class="form-control" name="age-gate">
					</div>
					<button type="button" class="button btn btn-primary btn-xl js-scroll-trigger center-block" (click)="this.register();">Register</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<br><br>
	<div class="card-deck" id="card-deck">
		<div class="card">
			<div class="card-block">
			<img [src]="this.keyboard" id="card-img">
			</div>
			Sign Up
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.upload" id="card-img">
			</div>
			Upload
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.style" id="card-img">
			</div>
			Style and Share!
		</div>
	</div>
	<app-modal #modal [clickOutsideToHide] = "true">
		<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
		<div class="app-modal-body preview">
			Age must be over 18
		</div>
		<div class="app-modal-footer">
			<button type="button" class="btn btn-default" (click)="modal.hide();">Close</button>
		</div>
	</app-modal>
	</div>
	</div>
</header>