<!-- Imagino Imaginis
Angular HTML template for the register page.
Allows the user to enter their information in order to create an account for the website.
User must enter all information and check the age gate in order to register
Please refer to the official Angular documentation for more information on Angular templating -->
<header class="masthead" style="height:1300px;">
	<div class="header-content">
	<div class="header-content-inner">
		<h1 id="homeHeading">Register</h1>
		<hr>
		<p>Please enter your details below to register for an account</p>
		<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-4">
				<form class="form-horizontal" role="form" data-toggle="validator" #registerForm="ngForm">
					<div class="form-group">
						<label class="control-label" name="user-first-name">First Name<font color="red">*</font></label>
						<input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="form.firstName" #firstName="ngModel" required>
						<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
							First name is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-last-name">Last Name<font color="red">*</font></label>
						<input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="form.lastName" #lastName="ngModel" required>
						<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
							Last name is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-email">Email<font color="red">*</font></label>
						<input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" email required>
						<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
							Email is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-password">Password<font color="red">*</font></label>
						<input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="form.password" #password="ngModel" required>
						<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
							Password is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-confirm-password">Confirm Password<font color="red">*</font></label>
						<input type="password" class="form-control" name="confirm" placeholder="Confirm Password" [(ngModel)]="form.confirm" #confirm="ngModel" required>
						<div [hidden]="form.password == form.confirm || confirm.pristine" class="alert alert-danger">
							Passwords must match
						</div>
					</div>
					<div class="form-group">
						<label class="custom-control custom-checkbox">
							<input [(ngModel)]="age" type="checkbox" name="age-gate" class="custom-control-input" required>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">I am over 18 years of age<font color="red">*</font></span>
						</label>
					</div>
					<button type="submit" [disabled]="!registerForm.form.valid || (form.password != form.confirm || confirm.pristine)" class="button btn btn-primary btn-xl js-scroll-trigger center-block" (click)="this.register();">Register</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<br><br>
	<div class="card-deck" id="card-deck">
		<div class="card">
			<div class="card-block">
			<img [src]="this.keyboard" id="card-img">
			</div>
			Sign Up
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.upload" id="card-img">
			</div>
			Upload
		</div>
		<div class="card">
			<div class="card-block">
			<img [src]="this.style" id="card-img">
			</div>
			Style and Share!
		</div>
	</div>
	<app-modal #modal [clickOutsideToHide] = "true">
		<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
		<div class="app-modal-body preview">
			{{errorText}}
		</div>
		<div class="app-modal-footer">
			<button type="button" class="btn btn-default" (click)="modal.hide();">Close</button>
		</div>
	</app-modal>
	</div>
	</div>
</header>