<!--This is the search component, which is displayed underneath the app component.
  Allows for the user to upload photos to the platform.
It is routed to when the user clicks on a router link-->
<header class="masthead">
<div class="header-content">
	<div class="header-content-inner">
	<h1 id="homeHeading">Search for a Profile</h1>
	<hr>
	<p>Enter a name:</p>
	
	<div class="col-md-5" style="float: none; margin: 0 auto;">
		<div class="input-group">
		<input type="text" class="form-control" name="search-term" placeholder="Enter Name"><br><br>
		<span class="input-group-btn">
			<!-- Validate -->
			<button type="button" class="button btn btn-primary btn-lg" style="font-size:1.28rem;" type="submit" (click)="this.btnClick();">Search</button>
		</span>
		</div>
	</div>
	
	
	</div>
</div>
</header>
