<!--This is the upload component, which is displayed underneath the app component.
  Allows for the user to upload photos to the platform.
It is routed to when the user clicks on a router link-->
<div class="container-fluid center-text">
  <h3>System Usage Report</h3>
  <br>

	<table style="margin:0 auto;">
	  <tr>
		<th>Date / Time</th>
		<th>Disk Avail</th>
		<th>Upload Count</th>
		<th>Request Count</th>
		<th>Processing Time</th>
	  </tr>
	  <tr>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
	  </tr>
	  <tr>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
	  </tr>
	  <tr>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
	  </tr>
	  <tr>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
		<td>EXZ</td>
	  </tr>
	</table>
  <br>  

</div>

