<header class="masthead">
   <div class="header-content">
      <div class="header-content-inner">
         <h1 id="homeHeading">Library</h1>
         <hr>
         <p>There are the photos you have stylized:</p>
         <div id="divMain" class="library-container">
            <div class="container-one">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-two">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-three">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
            <div class="container-four">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
               <img [src]="this.placeholder" class="image">
            </div>
         </div>
         <br><br>
      </div>
   </div>
</header>