<header class="masthead">
   <div class="header-content">
      <div class="header-content-inner">
         <h1 id="homeHeading">Library</h1>
         <hr>
         <p>These are the photos you have stylized:</p>
         <div id="divMain" class="library-container">
            <div class="container-one">
                <div *ngFor="let photo of photoArrOne">
                    <div class="card">
                        <div id="photo" *ngIf="photo.unfiltered_photo_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                            </div>
                        </div>
                        <div id="photo" *ngIf="photo.unfiltered_video_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <video height="250" id="video">
                                    <source [src]="this.db.url + photo.path" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <div *ngIf="photo.photo_id != null" id="photo">
                            <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                        </div>
                        <div *ngIf="photo.video_id != null" id="photo">
                            <video height="250" id="video" (click)="this.showPicture(photo)">
                                <source [src]="this.db.url + photo.path" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-two">
                <div *ngFor="let photo of photoArrTwo">
                    <div class="card">
                        <div id="photo" *ngIf="photo.unfiltered_photo_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                            </div>
                        </div>
                        <div id="photo" *ngIf="photo.unfiltered_video_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <!-- <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)"> -->
                                <video height="250" id="video">
                                    <source [src]="this.db.url + photo.path" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <div *ngIf="photo.photo_id != null" id="photo">
                            <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                        </div>
                        <div *ngIf="photo.video_id != null" id="photo">
                            <video height="250" id="video" (click)="this.showPicture(photo)">
                                <source [src]="this.db.url + photo.path" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-three">
                <div *ngFor="let photo of photoArrThree">
                    <div class="card">
                        <div id="photo" *ngIf="photo.unfiltered_photo_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                            </div>
                        </div>
                        <div id="photo" *ngIf="photo.unfiltered_video_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <!-- <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)"> -->
                                <video height="250" id="video">
                                    <source [src]="this.db.url + photo.path" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <div *ngIf="photo.photo_id != null" id="photo">
                            <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                        </div>
                        <div *ngIf="photo.video_id != null" id="photo">
                            <video height="250" id="video" (click)="this.showPicture(photo)">
                                <source [src]="this.db.url + photo.path" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-four">
                <div *ngFor="let photo of photoArrFour">
                    <div class="card">
                        <div id="photo" *ngIf="photo.unfiltered_photo_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                            </div>
                        </div>
                        <div id="photo" *ngIf="photo.unfiltered_video_id != null">
                            <div id="text" (click)="this.showPicture(photo)">
                                <p class="process">Processing</p>
                            </div>
                            <div id="picture">
                                <!-- <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)"> -->
                                <video height="250" id="video">
                                    <source [src]="this.db.url + photo.path" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <div *ngIf="photo.photo_id != null" id="photo">
                            <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                        </div>
                        <div *ngIf="photo.video_id != null" id="photo">
                            <video height="250" id="video" (click)="this.showPicture(photo)">
                                <source [src]="this.db.url + photo.path" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br><br>
        <!-- If the photo is unstyled, then display in the modal that it is not -->
        <picture-modal #modal [clickOutsideToHide]="true">
            <div class="app-modal-header">
                <!--Error-->&nbsp;
                <h3 *ngIf="this.modalPhoto.unfiltered_photo_id != null">
                    IMAGE STYLING IN PROGRESS
                </h3>
            </div>
            <div class="app-modal-body preview">
                    <!-- [style.width]="this.modalPhoto.width + 'px'" -->
                <img *ngIf="this.modalPhoto.unfiltered_photo_id != null || this.modalPhoto.photo_id != null" [src]="this.db.url + this.modalPhoto.path" id="modal-img">
                <video #video *ngIf="this.modalPhoto.unfiltered_video_id != null || this.modalPhoto.video_id != null" controls style="margin: auto">
                    <source [src]="this.db.url + this.modalPhoto.path" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="app-modal-footer">
                <!-- <div *ngIf="this.modalPhoto.photo_id != null">
                    <button *ngIf="this.modalPhoto.unfiltered_photo_id == null" type="button" class="btn btn-danger" (click)="this.deletePhoto();">Delete</button>
                    <button *ngIf="this.modalPhoto.unfiltered_photo_id == null" type="button" class="btn btn-info" [style.background-color]="this.buttonDisplay" (click)="this.displayPictureProfile();">Display on Profile</button>
                    <button type="button" class="btn btn-default" (click)="modal.hide();">Close</button>
                </div> -->
                <div *ngIf="this.modalPhoto.photo_id != null && this.modalPhoto.unfiltered_photo_id == null;then photostyled else photounstyled"></div>
                <ng-template #photostyled>
                    <button type="button" class="btn btn-danger" (click)="this.deletePhoto();">Delete</button>
                    <button type="button" class="btn btn-info" [style.background-color]="this.buttonDisplay" (click)="this.displayPictureProfile();">Display on Profile</button>
                </ng-template>
                <div *ngIf="this.modalPhoto.video_id != null && this.modalPhoto.unfiltered_video_id == null;then videostyled else videounstyled"></div>
                <ng-template #videostyled>
                    <button type="button" class="btn btn-danger" (click)="this.deleteVideo();">Delete</button>
                    <button type="button" class="btn btn-info" [style.background-color]="this.buttonDisplay" (click)="this.displayVideoProfile();">Display on Profile</button>
                </ng-template>
                <button type="button" class="btn btn-default" (click)="modal.hide();">Close</button>
            </div>
        </picture-modal>
      </div>
   </div>
</header>