<!-- Imagino Imaginis
Angular HTML template for the style selection page
Allows a user to select a style to style their image with on their uploaded photo/video
Plesae refer to the official Angular documentation for more information on Angular templating -->
<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Stylize Image</h1>
			<hr>
			<br><br>
			<div class="container style-container d-flex justify-content-center">
			<div class="container-one">
				<div class="card">
					<video *ngIf="this.gen.isVideoUpload" width="320" height="240" controls style="margin: auto">
						<source [src]="this.gen.uploadedImage" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<img *ngIf="!this.gen.isVideoUpload" [src]="this.gen.uploadedImage" class="card-img-top" id="upload-img">
					<div class="card-block"></div>
					<div class="card-footer">
						Your Image
					</div>
				</div>
			</div>
      <div class="container-two">
        <div class="dropdown" style="margin-top: 150px; margin-bottom: 150px; margin-left: 50px; margin-right: 50px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.selectedStyle.name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
            <div *ngFor="let style of styles">
              <a class="dropdown-item" (click)="selectStyle(style)">{{style.name}}</a>
            </div>
            <div *ngIf="this.us.isPaid" class="dropdown-divider"></div>
            <a *ngIf="this.us.isPaid" class="dropdown-item">
              <label>
                Upload a style <input type="file" (change)="fileChangeEvent($event)" accept="image/*" hidden>
              </label>
            </a>
          </div>
        </div>
      </div>
      <div class="container-three">
				<div class="card">
					<img *ngIf="!this.uploadingFilter" [src]="this.selectedStyle.path" class="card-img-top" alt="Image of Style Filter" id="style-img">
					<div *ngIf="this.uploadingFilter">
						<div style="float: none; margin: 0 auto;" class="loader"></div>
					</div>
					<div class="card-block">
					</div>
					<div class="card-footer">
						Style Example
					</div>
				</div>
				</div>
			</div>
		</div>
		<br><br>
		<label class="btn btn-primary btn-xl js-scroll-trigger" (click)="this.upload();">Style</label>
		<br>
		<label class="btn btn-secondary btn-sm js-scroll-trigger" (click)="this.router.navigate(['upload']);">Back</label>
		<app-modal #modal [clickOutsideToHide] = "true">
			<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
			<div class="app-modal-body">
				{{modalText}}
			</div>
			<div class="app-modal-footer">
				<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
			</div>
		</app-modal>
		<app-modal #uploading [clickOutsideToHide] = "false">
			<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
			<div class="app-modal-body">
				{{modalText}}
			</div>
			<div class="app-modal-footer">
				&nbsp;
			</div>
		</app-modal>
	</div>
</header>