<!--This is the sty;e component, which is displayed underneath the app component.
  Allows for the user to style photos to the platform.
It is routed to when the user clicks on a router link-->

<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Stylize Image</h1>
			<hr>
			
			<br><br>
			<div class="card-deck" id="card-deck">
				<div class="card">
					<img [src]="this.uploadedImage" class="card-img-top" id="upload-img">
					<div class="card-block">
						<!--style="height: 100%; max-height: 300px;"-->
					</div>
					<div class="card-footer">
						Your Image
					</div>
				</div>
				<!--<div class="card">
					<div class="card-block">-->
						<div class="dropdown" style="margin-top: 150px; margin-bottom: 150px; margin-left: 50px; margin-right: 50px;">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{this.selectedStyle.name}}
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
								<div *ngFor="let style of styles">
									<a class="dropdown-item" (click)="selectStyle(style)">{{style.name}}</a>
								</div>
							</div>
						</div>
						<!--<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
							<li *ngFor="let style of styles">
								<a class="dropdown-item" (click)="update(style)">{{style.style}}</a>
							</li>
						</ul>-->
						<!--<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown button
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>-->
					<!--</div>
					<div class="card-footer">
						Choose a Style
					</div>
				</div>-->
				<div class="card">
					<img [src]="selectedStyle.example" class="card-img-top" alt="Image of Style Filter" id="style-img">
					<div class="card-block">
						 <!--style="height: 100%; width: 100%; max-height: 300px;"-->
					</div>
					<div class="card-footer">
						Style Example
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<a class="btn btn-primary btn-xl js-scroll-trigger" (click)="this.upload();">Style</a>
		<app-modal #modal>
			<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
			<div class="app-modal-body">
				Please select a style!
			</div>
			<div class="app-modal-footer">
				<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
			</div>
		</app-modal>
	</div>
</header>



<!--<div class="container-fluid">
	<div class="center-text">
		<div class="page-header">
			<h1 class="display-2">Stylize Image</h1>
		</div>
		<hr>
	</div>-->

  <!-- <h3>Stylize Image</h3> -->
  <!--<br>-->
  <!-- <div style="width:900px; margin:0 auto;"> -->
	<!-- <div style="float:left; width:300px;"> -->
		<!-- Your Image: -->
		<!--<br>-->
<!--<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-3 center-text">
			<img src="../assets/monalisa.jpg" alt="uploaded_image" class="img-border" style="width: 200px; height: auto;">
			<p class="lead">Choose a style</p>
		</div>
		<div class="col-md-3 center-text">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
					{{selectedStyle.style}}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
					<li *ngFor="let style of styles"><a class="dropdown-item" (click)="update(style)">{{style.style}}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 center-text">
			<img [src]="selectedStyle.example" class="img-border" alt="style_image" style="width: 200px; height: auto;">
			<p class="lead">Style Example</p>
		</div>
	</div>
</div>
		-->
<!--</div>-->

<!-- <img src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png" alt="Image caption" height="100" width="100"> -->
<!-- </div> -->
<!-- <div style="float:left; width:300px;"> -->
	<!-- Choose a style:
	<br>
	<select name="style">
		<option value="cubism">Cubism</option>
		<option value="flowers">Flowers</option>
		<option value="starry-night">Starry Night</option>
		<option value="oil-painting">Oil Painting</option>
		<option value="impressionism">Impressionism</option>
		<option value="custom" disabled>Custom</option>
	</select> -->
<!-- </div> -->
<!-- <div style="float:left; width:300px;"> -->
	<!-- Generate Image: -->
	<!-- <br> -->
	<!-- <img src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png" alt="Image caption" height="100" width="100"> -->
<!-- </div> -->
<!--<br style="clear:left;"/>-->
<!-- </div> -->
<!--<br>-->