<!--This is the upload component, which is displayed underneath the app component.
Allows for the user to upload photos to the platform.
It is routed to when the user clicks on a router link-->
<header class="masthead">
<div class="header-content">
	<div class="header-content-inner">
	<h1 id="homeHeading">Upload</h1>
	<hr>
	<p>Click browse to upload</p>
	</div>
	<div class="container">
	<div class="row">
	</div>
	</div>
	<br>
	<div class="row">
	<div style="float: none; margin: 0 auto;">
		<label class="button btn btn-primary btn-lg">
			Browse <input type="file" (change)="fileChangeEvent($event)" accept="image/*, image/*, video/*" hidden>
		</label>
	</div>
	</div>
	<div *ngIf="loadingImage">
		<div style="float: none; margin: 0 auto;" class="loader"></div>
	</div>
	<div style="height: 200px"></div>
	<app-modal #modal [clickOutsideToHide] = "false">
		<div class="app-modal-header">
			<!--Error-->&nbsp;
		</div>
		<div class="app-modal-body">
			{{modalText}}
		</div>
		<div class="app-modal-footer">
			<!-- <button type="button" class="btn btn-default" (click)="modal.hide();">Close</button> -->
		</div>
	</app-modal>
	<app-modal #typemodal [clickOutsideToHide] = "true">
		<div class="app-modal-header">
			<!--Error-->&nbsp;
		</div>
		<div class="app-modal-body">
			{{modalText}}
		</div>
		<div class="app-modal-footer">
			<button type="button" class="btn btn-default" (click)="typemodal.hide()">Close</button>
		</div>
	</app-modal>
</div>
</header>


