<!-- Imagino Imaginis
Angular HTML template for the user settings page
Allows the user to view and edit their information
Please refer to the official Angular documentation for more information on Angular templating -->
<header class="masthead">
	<div class="header-content">
	<div class="header-content-inner">
		<div *ngIf="!dataReady">
			<img src="assets/ii_logo_color.png" class="loadingImage"/>
		</div>
		<div *ngIf="dataReady">
		<h1 id="homeHeading">Settings</h1>
		<hr>
		<p>Change your settings below</p>
		<img [src]="this.user.profilePhoto" class="img-border" alt="profile picture" style="width: 200px; height: auto">
		<br><br>
		<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-4">
				<form class="form-horizontal" role="form" data-toggle="validator" (keyup)="onKey($event)" #updateForm="ngForm">
					<label class="button btn btn-primary btn-sm">
						Upload Profile Picture<input type="file" (change)="fileChangeEvent($event)" accept="image/*" hidden>
					</label>
					<br><br>
					<button *ngIf="!this.user.isPaid" type="button" class="button btn btn-success btn-green btn-xl js-scroll-trigger center-block" (click)="this.showUpgradeAccount();">Upgrade Account</button>
					<br><br>
					<div class="form-group">
						<label class="control-label" name="user-first-name">First Name</label>
						<input type="text" class="form-control" name="first-name" placeholder="First Name" [(ngModel)]="form.firstName" #firstName="ngModel" required>
						<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
							First name is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-last-name">Last Name</label>
						<input type="text" class="form-control" name="last-name" placeholder="Last Name" [(ngModel)]="form.lastName" #lastName="ngModel" required>
						<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
							Last name is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-email">Email</label>
						<input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" #email="ngModel" email required>
						<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
							Email is required
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" name="user-password">Change Password</label>
						<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="this.password">
					</div>
					<button type="submit" [disabled]="!updateForm.form.valid" class="button btn btn-primary btn-xl js-scroll-trigger center-block" (click)="this.save();">Save</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
		<app-modal #modal>
			<div class="app-modal-header">
				<!--Error-->&nbsp;
			</div>
			<div class="app-modal-body">
				{{this.modalText}}
			</div>
			<div class="app-modal-footer">
				<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
			</div>
		</app-modal>
		<app-modal #modalUpgrade>
			<div class="app-modal-header" style="font-weight: bold">
				<span>Upgrade your Account!</span>
			</div>
			<div class="app-modal-body modalBody">
				<img src="https://www.materialui.co/materialIcons/social/sentiment_very_satisfied_black_96x96.png" style="background-color:white; border-color: white">
				<h3>Benefits:</h3>
				API Usage<br>
				Increased Styled Photo Storage<br>
				Style Videos<br>
				Use your own style<br><br>
				<form class="form-horizontal" role="form" data-toggle="validator" (keyup)="onKey($event)">
					<div class="form-group">
						<input type="text" class="form-control" style="background-color: lightgrey;" name="card-info" placeholder="Credit Card Number" [(ngModel)]="this.cardInfo" required>
					</div>
					<div [hidden]="this.isValidCard" class="alert alert-danger">
						Invalid credit card
					</div>
				</form>
				<button type="button" class="button btn btn-primary btn-green btn-sm js-scroll-trigger center-block" (click)="this.processUpgradeAccount();">Upgrade Account</button>
			</div>
			<div class="app-modal-footer">
				<button type="button" class="btn btn-default" (click)="modalUpgrade.hide()">Close</button>
			</div>
		</app-modal>
	</div>
	<br><br>
	</div>
	</div>
	</div>
</header>
