<!--
	This is the profile component, which is displayed underneath the app component.
	Displays various information relating to the user's profile, including pictures they choose
	to store and display.
	It is routed to when the user clicks on a router link
-->
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
			<h1 id="homeHeading">{{this.first_name}} {{this.last_name}}</h1>
			<hr>
            <div class="container center-text">
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <img [src]="this.profilePhoto" class="img-border" alt="profile picture" style="width: 200px; height: auto">
                        <br>
                        <p class="lead">{{this.first_name}} {{this.last_name}}</p>
                    </div>
                    <div class="col-md-5">
                        <p class="lead">Favorite Images</p>
                        <hr>
                        <div id="divMain" class="library-container">
                            <div class="container-one">
                                <div *ngFor="let photo of photos">
                                    <img [src]="this.db.url + photo.path" class="image" (click)="this.showPicture(photo)">
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br style="clear: left;" />
                </div>
            </div>
            <app-modal #modal>
                <div class="app-modal-header">
                    <!--Error-->&nbsp;
                </div>
                <div class="app-modal-body preview">
                    <img [src]="this.db.url + this.modalPhoto.path">
                </div>
                <div class="app-modal-footer">
                    <button type="button" class="btn btn-default" (click)="modal.hide();">Close</button>
                </div>
            </app-modal>
        </div>

    </div>
</header>