/* You can add global styles to this file, and also import other style files */
body {
	background-color: #CCCCCC;
}

.center-text {
	text-align: center;
}

.button {
	background-color: #99ccff;
}

.input-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}