/*
Imago Imaginis
Grand overarching CSS for frontend
*/
/* You can add global styles to this file, and also import other style files */
body {
	background-color: #CCCCCC;
  background: url("./assets/starrynight.jpg");
  background-attachment: fixed;
  background-size: cover;
  /*min-height: 100vh;*/
}

.center-text {
	text-align: center;
}

.button {
	background-color: #99ccff;
}

.input-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.btn {
  cursor: pointer;
}

.loadingImage {
  background: rgba(0,0,0,0) !important;
  border: none !important;
  height: 50%;
  animation: spin 1s infinite ease-in-out;
  -webkit-animation: spin 1s infinite ease-in-out;
  animation-direction: reverse;

}

.process {
  text-shadow: 0 0 0.5em black;
}
