// File containing deployment specific configuration info

var config = {};

config.contentPath = '';
config.stylePath = '';
config.resultPath = '';
config.contentPathVideo = '';
config.resultPathVideo = '';
config.uploadsPath = '';
config.videoUploadsPath = '';
config.serve = '';
config.dbUserName = '';
config.dbPassword = '';
config.dbIP = '';
config.dbName = '';
config.dbPort = '';

module.exports = config;
